{#
#
# (c) Copyright 2015-2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
Listen {{ keystone_admin_listen_ip }}:{{ keystone_admin_port }}
listen {{ keystone_public_listen_ip }}:{{ keystone_public_port }}


<VirtualHost *:35357>

    WSGIDaemonProcess keystone-admin processes={{ keystone_wsgi_admin_process_count }} threads=1 socket-timeout={{ keystone_wsgi_socket_timeout }} user={{ keystone_user }} group={{ keystone_group }} python-path={{ keystone_venv_dir }}:{{
keystone_venv_dir }}/lib/python2.7/site-packages/ display-name={{ keystone_group }}-admin
    WSGIProcessGroup keystone-admin
    WSGIScriptAlias / /var/www/keystone/admin
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization on

    KeepAlive off

    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>

    LogFormat "%h:%p %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\" \"%{x-openstack-request-id}i\" %X took %D micro sec" log_format
    LogFormat "%{X-Forwarded-For}i:%p %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\" \"%{x-openstack-request-id}i\" %X took %D micro sec" log_format_proxy

    SetEnvIf Request_URI "^" any_request=1
    SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded=1
    # Identify load balance health check requests
    SetEnvIf Request_URI "^/healthcheck$" lb-ping=1
    # Assuming all the monitoring pings from HAProxy are configured with the X-HAProxy-Ping header set to "true"
    SetEnvIfNoCase X-HAProxy-Ping "true" proxy-ping=1

    # turn off any_request if this forwarded or proxy-ping or lb-ping
    SetEnvIf proxy-ping 1 !any_request
    SetEnvIf forwarded 1 !any_request
    SetEnvIf lb-ping 1 !any_request

    # turn off forwarded if proxy-ping or lb-ping
    SetEnvIf proxy-ping 1 !forwarded
    SetEnvIf lb-ping 1 !forwarded

    # separated log files
    ErrorLog {{ keystone_log_dir }}/keystone_modwsgi.log
    CustomLog {{ keystone_log_dir }}/keystone_access.log log_format env=any_request
    CustomLog {{ keystone_log_dir }}/keystone_access.log log_format_proxy env=forwarded
    CustomLog {{ keystone_log_dir }}/keystone_monitoring.log log_format_proxy env=proxy-ping
    CustomLog {{ keystone_log_dir }}/keystone_monitoring.log log_format env=lb-ping

    # pass TLS attributes from haproxy
    SetEnvIf X-SSL-Issuer "^(.*)$" SSL_CLIENT_I_DN=$0
    SetEnvIf X-SSL-Issuer-CN "^(.*)$" SSL_CLIENT_I_DN_CN=$0
    SetEnvIf X-SSL-Client-CN "^(.*)$" SSL_CLIENT_S_DN_CN=$0
    SetEnvIf X-SSL-Client-O "^(.*)$" SSL_CLIENT_S_DN_O=$0

</VirtualHost>

<VirtualHost *:5000>
    ServerName {{ keystone_public_endpoint }}

    WSGIDaemonProcess keystone-main processes={{ keystone_wsgi_public_process_count }} threads=1 socket-timeout={{ keystone_wsgi_socket_timeout }} user={{ keystone_user }} group={{ keystone_group }} python-path={{ keystone_venv_dir }}:{{
keystone_venv_dir }}/lib/python2.7/site-packages/ display-name={{ keystone_group }}-main
    WSGIProcessGroup keystone-main
    WSGIScriptAlias / /var/www/keystone/main
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization on

    KeepAlive off

    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>

    LogFormat "%h:%p %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\" \"%{x-openstack-request-id}i\" %X took %D micro sec" log_format
    LogFormat "%{X-Forwarded-For}i:%p %u %t \"%r\" %>s \"%{Referer}i\" \"%{User-Agent}i\" \"%{x-openstack-request-id}i\" %X took %D micro sec" log_format_proxy

    WSGIScriptAliasMatch ^(/v3/OS-FEDERATION/identity_providers/.*?/protocols/.*?/auth)$ /var/www/keystone/main/$1

    <Location /Shibboleth.sso>
      SetHandler shib
    </Location>

    # NOTE(gyee): we have to enable ShibCompatValidUser so it doesn't
    # interfere with the other auth modules's valid-user settings.
    # See https://bugs.launchpad.net/ubuntu/+source/shibboleth-sp2/+bug/1358284
    ShibCompatValidUser On

    <LocationMatch /v3/OS-FEDERATION/identity_providers/.*?/protocols/saml2/auth>
      ShibRequestSetting requireSession 1
      AuthType shibboleth
      ShibRequireSession On
      ShibExportAssertion Off
      Require valid-user
    </LocationMatch>

    <Location /v3/auth/OS-FEDERATION/websso/saml2>
      ShibRequestSetting requireSession 1
      AuthType shibboleth
      ShibRequireSession On
      ShibExportAssertion Off
      Require valid-user
    </Location>

{% if keystone_openid_connect_conf is defined %}
    # see https://github.com/zmartzone/mod_auth_openidc/blob/master/auth_openidc.conf
    OIDCClaimPrefix "OIDC-"
    OIDCResponseType "{{ keystone_openid_connect_conf.response_type }}"
    OIDCScope "{{ keystone_openid_connect_conf.scope }}"
    OIDCProviderMetadataURL "{{ keystone_openid_connect_conf.metadata_url }}"
    OIDCClientID  "{{ keystone_openid_connect_conf.client_id }}"
    OIDCClientSecret "{{ keystone_openid_connect_conf.client_secret }}"
    OIDCCryptoPassphrase "{{ oidc_crypto_passphrase }}"
    OIDCRedirectURI "{{ keystone_openid_connect_conf.redirect_uri }}"

    <Location /v3/OS-FEDERATION/identity_providers/{{ keystone_openid_connect_conf.identity_provider }}/protocols/openid/auth>
      Require valid-user
      AuthType openid-connect
    </Location>

    <Location /v3/auth/OS-FEDERATION/websso/openid>
      Require valid-user
      AuthType openid-connect
    </Location>

    <Location /v3/auth/OS-FEDERATION/identity_providers/{{ keystone_openid_connect_conf.identity_provider }}/protocols/openid/websso>
      Require valid-user
      AuthType openid-connect
    </Location>
{% endif %}

    SetEnvIf Request_URI "^" any_request=1
    SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded=1
    # Identify load balance health check requests
    SetEnvIf Request_URI "^/healthcheck$" lb-ping=1
    # Assuming all the monitoring pings from HAProxy are configured with the X-HAProxy-Ping header set to "true"
    SetEnvIfNoCase X-HAProxy-Ping "true" proxy-ping=1

    # turn off any_request if this forwarded or proxy-ping or lb-ping
    SetEnvIf proxy-ping 1 !any_request
    SetEnvIf forwarded 1 !any_request
    SetEnvIf lb-ping 1 !any_request

    # turn off forwarded if proxy-ping or lb-ping
    SetEnvIf proxy-ping 1 !forwarded
    SetEnvIf lb-ping 1 !forwarded

    # separated log files
    ErrorLog {{ keystone_log_dir }}/keystone_modwsgi.log
    CustomLog {{ keystone_log_dir }}/keystone_access.log log_format env=any_request
    CustomLog {{ keystone_log_dir }}/keystone_access.log log_format_proxy env=forwarded
    CustomLog {{ keystone_log_dir }}/keystone_monitoring.log log_format_proxy env=proxy-ping
    CustomLog {{ keystone_log_dir }}/keystone_monitoring.log log_format env=lb-ping

    # pass TLS attributes from haproxy
    SetEnvIf X-SSL-Issuer "^(.*)$" SSL_CLIENT_I_DN=$0
    SetEnvIf X-SSL-Issuer-CN "^(.*)$" SSL_CLIENT_I_DN_CN=$0
    SetEnvIf X-SSL-Client-CN "^(.*)$" SSL_CLIENT_S_DN_CN=$0
    SetEnvIf X-SSL-Client-O "^(.*)$" SSL_CLIENT_S_DN_O=$0

</VirtualHost>
